# Dependencies
node_modules/

# Production Build Output
dist/
dist-ssr/

# Environment Variables (Keep sensitive keys private)
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor-specific files
.vscode/
.idea/
.DS_Store
